/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #362b24;
    font-family: Figtree, sans-serif;
}

/* Header */
header {
    background-color: #ffd3ba;
    padding: 5px 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #553b2c;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: CrimsonTree, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #543a2a;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px solid #362b24;
}