/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #362b24;
    font-family: Figtree, sans-serif;
}

h1 {
    font-family: CrimsonTree, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #543a2a;
    font-size: 175%;
}

h2 {
    font-size: 23px;
    color: #553b2c;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #553b2c;
    text-align: center;
}

h4 {
    font-size: 16px;
    color: #553b2c;
    text-align: center;
}

/* Header */
header {
    background-color: #ffd3ba;
    padding: 5px 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #553b2c;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    font-family: CrimsonTree, serif;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px solid #362b24;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffd3ba;
    width: 100%;
    left: 0;
    padding: 5px 1rem;
    box-shadow: 0 5px 5px #553b2c;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 650px;
    width: 100%;
    background: url(../images/Medici\ Chapel.webp) no-repeat center center/cover;
}

/* The Timeline Section */
#timeline {
    padding: 10px;
    margin: 1.5rem;
}

div>h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 5px #c59038;
    padding: 0.5rem;
    margin: auto;
}

/* The vertical ruler */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffd995;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #c59038;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-right: -3px;
}

/* Container around content */
.container {
    padding: 10px 25px;
    position: relative;
    background-color: inherit;
    width: 50%;
    font-size: 14px;
    color: #553b2c;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -15px;
    background-color: #ffffea;
    border: 4px solid #c59038;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Align the containers and add fixed arrows */
.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    right: 16px;
    border: medium solid #ffffea;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffea;
}

.right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    left: 16px;
    border: medium solid #ffffea;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffea transparent transparent;
}

.right::after {
    left: -8px;
}

/* The actual content */
.content {
    padding: 8px;
    background-color: #ffffea;
    position: relative;
    border-radius: 6px;
}

/* Overview section */
#overview {
    padding: 10px;
    margin: 1.5rem;
}

#imageldm {
    background: url(../images/Lorenzo_de_medici.jpeg) no-repeat top center/cover;
    height: 30vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.life {
    margin-top: 5px;
}

#youth {
    margin: 5px;
}

#youth ul {
    font-size: 16px;
    padding: 5px;
    list-style-type: none;
    text-align: justify;
    margin: 0 1rem;
    line-height: 1rem;
}

/* Creating the bullet points list */
#leader {
    margin: 5px;
}

#leader ul {
    font-size: 16px;
    padding: 5px;
    list-style-type: circle solid;
    text-align: justify;
    margin: 0 1rem;
    line-height: 1rem;
}

/* Patronage page */
#bridge {
    height: 300px;
    width: 100%;
    background: url(../images/Ponte\ Vecchio.webp) no-repeat center center/cover;
}

#head {
    padding-top: 10px;
}

.patron {
    font-size: 12px;
    padding: 5px;
    margin: 0 1rem;
    text-align: justify;
    line-height: 1rem;
}

#patronage {
    padding: 5px;
    margin: 5px;
}

/* Gallery Page */
#photos img {
    width: 100%;
    line-height: 1em;
    padding: 3px;
}

#photos {
    line-height: 0;
    margin: 1rem;
}

/* Reading section */
#skyline {
    background: url(../images/florence-skyline.png) no-repeat center center/cover;
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* The comments form */
#contact {
    margin: auto;
    padding: 0.5rem;
    border: #c59038 solid 10px;
    border-radius: 20px;
    background-color: rgb(190 115 61);
}

#enquiries {
    color: #553b2c;
}

.contact-form {
    background-color: rgb(190 115 61);
}

form {
    padding: 0.5rem;
}

.text-input {
    font-size: 14px;
    color: #553b2c;
}

button {
    margin-bottom: 10px;
    font-size: 1rem;
    width: 100%;
}

/* Footer */
footer {
    background-color: #8baadf;
}

footer div {
    display: flex;
    align-items: center;
    font-size: 90%;
    padding: 5px;
    color: #6c5428;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    text-align: right;
}

#social-networks {
    padding: 1em;
    display: inline-flex;
    list-style-type: none;
    margin-left: auto;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #6c5428;
    letter-spacing: 1.5em;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 60px;
        margin: 0.25rem 0.25rem;
    }

    main {
        margin-top: 78px;
    }

    #menu a:hover {
        background-color: #fffff0;
    }

    /* Overview section */
    #leader {
        margin: 2.5rem;
    }

    /* Three image containers for patronage section */
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /* Reading */
    #skyline {
        background: url(../images/florence-skyline.png) no-repeat center center/cover;
        height: 600px;
        width: 100%;
    }

}

/* Media Query: laptops and desktops (992px and up) */
@media screen and (min-width:992px) {

    /* Overview section */
    #timeline {
        float: right;
        width: 45%;
        margin: 5rem 1.5rem;
        position: relative;
    }

    #overview {
        float: left;
        width: 45%;
        margin: 1.5rem;
        position: relative;
    }

    #leader {
        margin: 0;
    }

    /* Reading */
    #skyline {
        background: url(../images/florence-skyline.png) no-repeat center center/cover;
        height: 850px;
        width: 100%;
    }
}

/* Media Query: 1200px and up */
@media screen and (min-width: 1200px) {
    #timeline {
        margin: 8rem 4rem 0 0;
    }
}